{{ include('layouts/header.twig', {title:'Connexion'}) }}

<h1>Connexion</h1>
{% if errors is defined %}
    <span class="error">
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </span>
{% endif %}

<form method="post" action="{{ base }}/login">
    <label>Username:
        <input type="email" name="username" value="{{ user.username }}">
    </label>
    <label>Password:
        <input type="password" name="password">
    </label>
    <input type="submit" value="Se connecter" class="btn">
</form>

{{ include('layouts/footer.twig') }}
