<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des clients</title>
    <link rel="stylesheet" href="{{ asset }}css/style.css">
    <link rel="stylesheet" href="{{ asset }}css/home.css">
</head>
<body>
    <nav>
        <a href="{{ base }}home/index">Locations</a>
        <a href="{{ base }}client/index">Clients</a>
        <a href="{{ base }}livre/index">Livres</a>
        <a href="{{ base }}location/create">Nouvelle Location</a>  
        <a href="{{ base }}client/create">Nouveau Client</a>      
    </nav>
    <main>